@model WOFilterModel

@if (!Model.isGeneralSearch)
{
    <div class="card mwofilter" style="@if (!Model.FilterActive)
    {<text>display:none;</text>}
    else
    {<text>display:block;</text> } ">
        <div class="card-body">
            <div class="card-title float-right">
                <a href="#" class="closefilter"><i class="fa fa-times fa-2x"></i></a>
            </div>
            <input asp-for="TermSearch" placeholder="Search all fields" class="form-control top-buffer form-control mobile-input">
            <input asp-for="WOId" placeholder="Search WO Number" class="form-control top-buffer form-control mobile-input">

            <input asp-for="AssignedTo" placeholder="Search by Assigned To" class="form-control top-buffer form-control mobile-input">

            <input asp-for="PropertyName" placeholder="Search by Property Name" class="form-control top-buffer form-control mobile-input">


            <select asp-for="Priority" type="date" class="form-control top-buffer form-control mobile-input">
                <option value="">Filter by Priority</option>
                <option value="0">Critical</option>
                <option value="1">High</option>
                <option value="2">Medium</option>
                <option value="3">Low</option>
            </select>
            <select asp-for="Status" class="form-control form-control top-buffer mobile-input">
                <option value="">Filter by Status</option>
                <option value="ADCM">Add Comment Only</option>
                <option value="BINE">Bid Needed</option>
                <option value="BIRE">Bid Received</option>
                <option value="BIRQ">Bid Requested</option>
                <option value="COMP">Complete</option>
                <option value="COBQ">Complete But Bad Quality</option>
                <option value="CONI">Complete, Need Inspection</option>
                <option value="DAIL">Daily</option>
                <option value="FISC">Finalize Scope</option>
                <option value="HOLD">Hold</option>
                <option value="NEWO">New work order</option>
                <option value="ORMA">Order Materials</option>
                <option value="PEND">Pending</option>
                <option value="REAS">Ready To Assign</option>
                <option value="WOAS">Work Assigned</option>
                <option value="WOPR">Work In Progress</option>
                <option value="WOOR">Work Ordered</option>
            </select>
            <input asp-for="Vendor" placeholder="Search by Vendor" class="form-control top-buffer form-control mobile-input">

        </div>
        <div class="d-lg-inline-flex" style="padding:0 0 10px 10px;">
            <input type="submit" value="Filter" id="filter" class="btn btn-sm btn-primary top-buffer">
            &nbsp;<input type="reset" value="Reset" class="btn btn-sm btn-danger top-buffer">
        </div>
    </div>
}
else
{
<div class="col-xs-5 m-2">
    <label asp-for="TermSearch">Search</label>
    <input asp-for="TermSearch" class="form-control w-100 form-control-sm custom-input">
    <div class="d-lg-inline-flex">
        <input type="submit" value="Go"  id="filter" class="btn btn-sm btn-primary top-buffer">
        @*<input type="reset" value="Reset" class="btn btn-sm btn-danger top-buffer pr-1">*@
    </div>
</div>
    
}