@model WOFilterModel

@if (!Model.isGeneralSearch)
{
    <div class="card wofilter" style="@if (!Model.FilterActive)
        {<text>display:none;</text>}
        else
        {<text>display:block;</text> }">
        <div class="card-body">
            <div class="card-title float-right"><a href="#" class="closefilter"><i class="fa fa-times"></i></a></div>
            <div class="form-row">

                <div class="col-xs-5">
                    <label asp-for="TermSearch">Search all fields</label>
                    <input asp-for="TermSearch" class="form-control form-control-sm custom-input">

                </div>
                <div class="col-xs-5">
                    <label asp-for="WOId">Search WO Number</label>
                    <input asp-for="WOId" class="form-control form-control-sm custom-input">

                </div>
                <div class="col-xs-5">
                    <label asp-for="AssignedTo">Search by Assigned To</label>
                    <input asp-for="AssignedTo" class="form-control form-control-sm custom-input">

                </div>
                <div class="col-xs-5">
                    <label asp-for="PropertyName">Search by Property Name</label>
                    <input asp-for="PropertyName" class="form-control form-control-sm custom-input">

                </div>
                <div class="col-xs-5">
                    <label asp-for="CreationStartDate"></label>
                    <input asp-for="CreationStartDate" type="date" class="form-control form-control-sm custom-input">
                </div>
                <div class="col-xs-5">
                    <label asp-for="CreationEndDate"></label>
                    <input asp-for="CreationEndDate" type="date" class="form-control form-control-sm custom-input">
                </div>
                <div class="col-xs-5">
                    <label asp-for="DueDate"></label>
                    <input asp-for="DueDate" type="date" class="form-control form-control-sm custom-input">
                </div>
                <div class="col-xs-5">
                    <label>Filter by Priority</label>
                    <select asp-for="Priority" type="date" class="form-control form-control-sm custom-input">
                        <option value="">Filter by Priority</option>
                        <option value="0">Critical</option>
                        <option value="1">High</option>
                        <option value="2">Medium</option>
                        <option value="3">Low</option>
                    </select>
                </div>
                <div class="col-xs-5">
                    <label>Status</label>
                    <select asp-for="Status" class="form-control top-buffer form-control-sm custom-input">
                        <option value="">Filter by Status</option>
                        <option value="ADCM">Add Comment Only</option>
                        <option value="BINE">Bid Needed</option>
                        <option value="BIRE">Bid Received</option>
                        <option value="BIRQ">Bid Requested</option>
                        <option value="COMP">Complete</option>
                        <option value="COBQ">Complete But Bad Quality</option>
                        <option value="CONI">Complete, Need Inspection</option>
                        <option value="DAIL">Daily</option>
                        <option value="FISC">Finalize Scope</option>
                        <option value="HOLD">Hold</option>
                        <option value="NEWO">New work order</option>
                        <option value="ORMA">Order Materials</option>
                        <option value="PEND">Pending</option>
                        <option value="REAS">Ready To Assign</option>
                        <option value="WOAS">Work Assigned</option>
                        <option value="WOPR">Work In Progress</option>
                        <option value="WOOR">Work Ordered</option>
                    </select>
                </div>
                <div class="col-xs-5">
                    <label>Search by Vendor</label>
                    <input asp-for="Vendor" class="form-control top-buffer form-control-sm custom-input">
                </div>
            </div>

            <div class="d-lg-inline-flex">
                <input type="submit" value="Filter" id="filter" class="btn btn-sm btn-primary top-buffer">
                &nbsp;<input type="reset" value="Reset" class="btn btn-sm btn-danger top-buffer">
            </div>
        </div>
    </div>
}
else
{
    <div class="col-xs-5">
        <label asp-for="TermSearch">Search</label>
        <input asp-for="TermSearch" class="form-control w-100 form-control-sm custom-input">
    </div>
    <div class="d-lg-inline-flex">
        <input type="submit" value="Go" id="filter" class="btn btn-sm btn-primary top-buffer">
      @*&nbsp;<input type="reset" value="Reset" class="btn btn-sm btn-danger top-buffer">*@
    </div>
}
