<table class="table table-striped wordorderdetail">
    <thead>
        <tr>
            <th scope="col" colspan="2" class="mytitle">
                To Do List
            </th>
            <th scope="col" colspan="2" class="button">
                <button class="addnewbutton" value="CreateWorkOrder" ><i class="fa fa-plus"></i>&nbsp;New</button>
            </th>
        </tr>
        <tr>
            <th colspan="4" class="filterwarp">
                <ul class="filter">
                    <li>Filter</li>
                    &nbsp;&nbsp; &nbsp;
                    <li>
                        <select id="types">
                            <option value="1">All Types</option>
                            <option value="2">type1</option>
                            <option value="3">type1</option>
                            <option value="4">type1</option>
                        </select>
                    </li>
                </ul>
            </th>

        </tr>
        <tr>
            <th class="date" colspan="4">
                <span><i class="fa fa-calendar"></i></span>
                <input type="date" class="datepicker" />
            </th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input type="button" class="workorderbutton" value="work order">
            </td>
            <td>Details about the data </td>
            <td>Assigned to me</td>
            <td>29 Jan</td>

        </tr>
        <tr>
            <td>
                <input type="button" class="workorderbutton" value="work order">
            </td>
            <td>Details about  the data  that you are going to see</td>
            <td>Assigned to me</td>
            <td>29 Jan</td>

        </tr>
    </tbody>
</table>