
<form id="effortform" asp-action="AddEffortView" >
    <table class="table table-responsive-md">
        <thead>
            <tr>
                <th>
                    Monday
                </th>
                <th>
                    Tuesday
                </th>
                <th>
                    Wednesday
                </th>
                <th>
                    Thursday
                </th>
                <th>
                    Friday
                </th>
                <th>
                    Saturday
                </th>
                <th>
                    Sunday
                </th>
                <th>
                    Total Hours
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="group">
                    <label>Repair</label>
                    <input id="sun_repair" name="sun" class="form-control day " type="number" onclick="total(event);" value="0" onkeypress="return event.charCode >= 48 && test(event);" min="1" max="24">
                    @*<label>B&O tax purposes</label>
                    <input  id="sun_tax" name="sun" class="form-control day " type="number" onclick="total(event);" value="0" onkeypress="return event.charCode >= 48 && test(event);" min="1" max="24">*@
                </td>
                <td class="group">
                    <label>Repair</label>
                    <input id="mon_repair" name="mon"  class="form-control day" type="number" onclick="total(event);" value="0" onkeypress="return event.charCode >= 48 && test(event);" min="1" max="24">
                    @*<label>B&O tax purposes</label>*@
                    @*<input id="mon_tax" name="mon" class="form-control day" type="number" onclick="total(event);" value="0" onkeypress="return event.charCode >= 48 && test(event);" min="1" max="24">*@
                </td>
                <td class="group">
                    <label>Repair</label>
                    <input id="tue_repair" name="tue" class="form-control day" type="number" onclick="total(event);" value="0" onkeypress="return event.charCode >= 48 && test(event);" min="1" max="24">
                    @*<label>B&O tax purposes</label>*@
                    @*<input id="tue_tax" name="tue" class="form-control day" type="number" onclick="total(event);" value="0" onkeypress="return event.charCode >= 48 && test(event);" min="1" max="24">*@

                </td>
                <td class="group">
                    <label>Repair</label>
                    <input id="wed_repair"  name="wed"   class ="form-control day" type="number" onclick="total(event);" value="0" onkeypress="return event.charCode >= 48 && test(event);" min="1" max="24">
                    @*<label>B&O tax purposes</label>*@
                    @*<input id="wed_tax" name="wed" class="form-control day" type="number" onclick="total(event);" value="0" onkeypress="return event.charCode >= 48 && test(event);" min="1" max="24">*@
                </td>
                <td class="group">
                    <label>Repair</label>
                    <input  id="thu_repair" name="thu" class="form-control day" type="number" onclick="total(event);" value="0" onkeypress="return event.charCode >= 48 && test(event);" min="1" max="24">
                    @*<label>B&O tax purposes</label>*@
                    @*<input  id="thu_tax"  name="thu" class="form-control day" type="number" onclick="total(event);" value="0" onkeypress="return event.charCode >= 48 && test(event);" min="1" max="24">*@
                </td>
                <td class="group">
                    <label>Repair</label>
                    <input id="fri_repair" name="fri" class="form-control day" type="number" onclick="total(event);" value="0" onkeypress="return event.charCode >= 48 && test(event);" min="1" max="24">
                    @*<label>B&O tax purposes</label>*@
                    @*<input id="fri_tax" name="fri" class="form-control day" type="number" onclick="total(event);" value="0" onkeypress="return event.charCode >= 48 && test(event);" min="1" max="24">*@
                </td>
                <td class="group">
                    <label>Repair</label>
                    <input  id="sat_repair" name="sat" class="form-control day" type="number" onclick="total(event);" value="0" onkeypress="return event.charCode >= 48 && test(event);" min="1" max="24">
                    @*<label>B&O tax purposes</label>*@
                    @*<input id="sat_tax" name="sat" class="form-control day" type="number" onclick="total(event);" value="0" onkeypress="return event.charCode >= 48 && test(event);" min="1" max="24">*@
                </td>
                <td>
                    <input class="form-control total mt-4" name="x" id="x" type="number" readonly onkeypress="return event.charCode >= 48" value="0" min="1">
                </td>

            </tr>

        </tbody>
    </table>
</form>

<script>
    $('#effortform').submit(function (e) {
        e.preventDefault();
        //$(this).serialize();
        var y= new FormData(this)
        console.log(y);


    })
</script>