@model KeyValuePair<string,string>
<div class="modal fade image" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <a href="@Model.Value"> <img src="@Model.Key" /></a>
        </div>
    </div>
</div>