@model List<SelectItem>

@{
    ViewData["Title"] = "Home Page";
}

<div class="workordertitle">
    Configuration Control
</div>
<div class="table_container">
    <table class="table table-responsive-lg">
        @if (Model != null)
        {
            <tbody>
                <tr>
                    <td>
                        <div class="col">
                            <div class="d-lg-table-row">
                                <label>Assign Menu To Role</label>
                            </div>
                            <div class="d-lg-table-row">
                                <label>Select Role</label>
                                <select class="form-control form-control-sm custom-input crole" asp-items="@(new SelectList(Model, "Id", "PropertyName"))">
                                    <option value="">Please select one</option>
                                </select>
                            </div>
                            <hr />
                            <section>
                                <div class="d-lg-table-row">
                                    <label>Role Operation</label>
                                </div>
                                <div class="d-lg-table-row">
                                    <label>Enter Role</label>
                                    <input class="form-control form-control-sm custom-input" />
                                </div>
                                <hr />
                                <div class="d-lg-table-row">
                                    <label>Language Operation</label>
                                </div>
                                <div class="d-lg-table-row">
                                    <label>Enter Language</label>
                                    <input class="form-control form-control-sm custom-input" />
                                </div>
                                <hr />
                                <div class="d-lg-table-row">
                                    <label>Department Operation</label>
                                </div>
                                <div class="d-lg-table-row">
                                    <label>Enter Department</label>
                                    <input class="form-control form-control-sm custom-input" />
                                </div>
                                <hr />
                                <div class="d-lg-table-row">
                                    <input type="button" value="Add" class="btn btn-sm btn-primary" />
                                    &nbsp;<input type="button" value="Remove" class="btn btn-sm btn-danger" />
                                </div>
                            </section>
                        </div>
                    </td>
                    <td class="features">
                        <div class="spinner">
                            <i class="fa fa-spinner fa-3x fa-spin" aria-hidden="true"></i>
                        </div>
                    </td>
                </tr>
            </tbody>
        }
    </table>
</div>
<div class="spinner">
    <i class="fa fa-spinner fa-3x fa-spin" aria-hidden="true"></i>
</div>

<script>
    $('.crole').change(function (e) {
        var url = '@Url.Action("FeaturesSelector")';
        $('.features').html("");
        $('.fa-spin').show();
        var id = $(this).val();
        RESTCALL(url, { id: id }, "GET", "", true, function (res) {
            $('.features').html(res);
            $('.fa-spin').hide();
        });

    });
</script>