/*login*/
.login {
    width: 350px;
    margin: 0px auto;
    position: relative;
    float: none;
    margin-bottom: 10px;
    margin-top: 10%;
    vertical-align: middle;
    background-color: rgba(0,0,0,0.7);
}

@media screen and (max-width: 400px) {
    .login {
        width: 250px;
    }
}

.custom_btn {
    width: 100%;
    background-color: rgb(230, 69, 69);
    color: white;
}

    .custom_btn:hover {
        background-color: rgba(238, 70, 70, 0.90);
        animation: ease-in-out;
        transition-delay: 0.1s;
        color: white;
    }

.registerdiv {
    text-align: center;
}

.text-danger {
    font-size: small;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
}

.title {
    font-size: larger;
    font-weight: bold;
    color: white;
}

.input-group-text {
    color: rgb(230, 69, 69);
}

.register {
    font-size: small;
    color: rgb(230, 69, 69)
}

.forgopassword {
    font-style: italic;
    font-size: small;
    color: rgb(230, 69, 69);
    float: right;
}

    .register:hover, .forgopassword:hover {
        color: rgb(230, 69, 69)
    }

.custom_btn .fa-key {
    transform: rotate(-135deg);
}

.input-group-text {
    background-color: white;
}
/*endlogin*/
/*start todo*/
.todolist {
    border: 2px solid rgba(128, 128, 128,0.7);
}

.custom_nav {
    width: 100%;
    padding-left: 5px;
    height: 30px;
    background-color: rgb(209,209,209);
    border-top: 2px outset rgba(128, 128, 128,0.7);
    border-bottom: 2px inset rgba(128, 128, 128,0.7);
}

.nav_list li {
    list-style-type: none;
    display: inline-block;
    color: black;
    padding-left: 5px;
    font-weight: 500;
}

.addnewbutton {
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 2px;
    background-color: rgb(65, 153, 66);
    color: white;
}

    .addnewbutton:active {
        background-color: rgba(65, 153, 66,0.8);
        animation-delay: 0.2s;
        animation: ease-in-out;
    }

.filter li {
    list-style-type: none;
    display: inline-block;
    height: 10px;
    font-size: small;
}

.filter {
    margin: 0px !important;
}

#types {
    border: none !important;
    background-color: rgb(242,242,242);
    box-shadow: none;
    outline: none !important;
}

.button {
    text-align: right;
}

th {
    padding: 0px;
    margin: 0px;
}

.filterwarp {
    text-align: right;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    height: 23px !important;
}

.date {
    text-align: center;
}

.datepicker {
    border: none;
    outline: none;
}

.table {
    padding: 0px;
    background-color: white;
    margin: 0px;
    border: 3px solid lightgrey;
}

.mytitle {
    align-content: center;
    padding-bottom: 20px !important;
}

.table_container {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.15);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

@media only screen and (max-width: 580px) {
    .usersview, .wordorderdetail, .usersview tbody, .wordorderdetail tbody, .usersview th, .wordorderdetail th, .usersview td, .wordorderdetail td, .usersview tr, .wordorderdetail tr {
        display: block;
    }

        .usersview thead {
            display: none;
        }

        .usersview th, .wordorderdetail th {
            border: none !important;
            text-align: center;
        }

    .filterwarp {
        text-align: inherit;
    }

    .usersview tbody td, .wordorderdetail tbody td {
        text-wrap: normal !important;
    }

    .usersview td:before, .wordorderdetail td:before {
        white-space: nowrap;
        display: table-cell;
        color: black;
        font-weight: bold;
    }

    .usersview td:nth-of-type(1):before {
        content: "#";
    }

    .usersview td:nth-of-type(2):before {
        content: "Full Name";
    }

    .usersview td:nth-of-type(3):before {
        content: "Email";
    }

    .usersview td:nth-of-type(4):before {
        content: "Roles";
    }

    .usersview td:nth-of-type(5):before {
        content: "User Id";
    }

    .wordorderdetail td:nth-of-type(1):before {
        content: "Status";
    }

    .wordorderdetail td:nth-of-type(2):before {
        content: "Description";
    }

    .wordorderdetail td:nth-of-type(3):before {
        content: "Assigned To";
    }

    .wordorderdetail td:nth-of-type(4):before {
        content: "Property";
    }

    .wordorderdetail td:nth-of-type(5):before {
        content: "Due Date";
    }
}
/*end todo*/
/* work order add*/

.top-buffer {
    margin-top: 15px;
}

.workordertitle {
    display: block;
    background-color: rgb(65, 153, 66);
    border-radius: 2px;
    padding-left: 10px;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}

.custom-input {
    border-radius: 0.4em;
    border: 1.5px solid grey;
    width: 200px;
    margin-top: 0px;
}

label {
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: grey;
}
/*end work order add*/
/*list properties*/
.opertion_menu {
    list-style: none
}

.opertion_menu_item {
    display: inline-flex;
    flex-direction: column;
}

.propery_head {
    height: 40px;
    padding-top: 10px;
    padding-left: 5px;
}

.propetry {
    width: 260px;
}
/*list properties end*/

/*work order*/
.nav_list .radios {
    opacity: 0;
    position: fixed;
    width: 0px;
}

.nav_list li label {
    background-color: rgb(209,209,209);
    padding: 2px 2px;
    font-family: sans-serif, Arial;
    font-size: 15px;
    display: inline-block;
    border: 0px solid #444;
    border-radius: 0px;
    cursor: pointer;
    width: 70px;
}

.nav_list label {
    padding: 2px;
    text-align: center;
}

    .nav_list label:hover {
        background-color: rgb(65, 153, 66);
        color: white;
    }

.radios:checked + label {
    background-color: rgb(65, 153, 66);
    color: white;
}

.spinner {
    z-index: 999;
    position: absolute;
    display: table-column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*work order end*/
/*multiple select box*/
.select-mul {
    height: 100px;
    position: absolute;
    z-index: 999;
    display: none;
    margin: 0px;
    -webkit-transition: height 0.5s ease-in-out;
    transition: height 0.5s ease-in-out;
}

.select-input:hover + .select-mul {
    display: block;
    height: 25px;
}

.select-mul:hover {
    display: block;
}

/**/
/*bowse photo*/
.cont .Photo {
    opacity: 0;
    width: 200px;
    height: 25px;
}

.cont .browsebutton {
    position: absolute;
    width: 200px;
    height: 25px;
    background-color: green;
    color: white;
    text-align: center;
}

.photo_disp {
    display: none;
    width: 200px;
    height: 150px;
}

    .photo_disp:hover {
        box-shadow: 0 10px 20px 0 rgba(0,0,0,0.15);
        transition-property: box-shadow, -webkit-box-shadow;
        transition-duration: 0.4s, 0.4s;
        transition-timing-function: ease, ease;
        transition-delay: 0s, 0s;
    }

.cont .browsebutton:hover {
    cursor: pointer;
}

.fa-spin {
    display: none;
}
/**/
/*propery view*/
.new_address_css {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 10px;
    padding-left: 0px;
    padding-right: 5px;
}

    .new_address_css .propetry {
        flex: 1 1 auto;
        border: 1px blue solid;
        text-align: center;
        margin-right: 10px;
    }
/**/
/*getall users*/
.cont {
    width: 100px;
    height: 30px;
    position: relative;
    margin-right: 10px;
}

.selector1, .selector2 {
    width: 100px;
    height: 30px;
    position: absolute;
}

.label1, .label2 {
    background-color: white;
    width: 100px;
    height: 30px;
    position: absolute;
    padding: 4px;
    border-radius: 4px;
    color: black;
    font-size: small;
    border: outset 1px rgba(128, 128, 128,0.4);
    box-shadow: 1px 1px 1px rgba(128, 128, 128,0.4)
}

.selector1:checked ~ .label1 {
    background-color: rgb(65, 153, 66);
    color: white;
}

.selector2:checked ~ .label2 {
    background-color: rgb(65, 153, 66);
    color: white;
}

.label1:hover, .label2:hover {
    cursor: pointer;
}
/**/

/**/

.multiple-select-box {
    width: -webkit-max-content;
    width: -moz-max-content;
    height: -moz-max-content;
    min-width: 200px;
    max-width: 300px;
    display: block;
    border-left: 2px solid grey;
    border-right: 2px solid grey;
    border-bottom: 2px solid grey;
    position: absolute;
    background-color: white;
    z-index: 9999;
    display: none;
    padding: 5px;
    border-radius: 5px;
}

.option {
    display: table-row;
}

.select-input:hover + .multiple-select-box {
    display: block;
}

.multiple-select-box:hover {
    display: block;
}

.select-input {
    display: block;
    min-width: 200px;
    padding: 0.3em;
    width: -webkit-max-content;
    width: -moz-max-content;
    height: calc(1.5em + 0.5rem + 2px)
}
