@model Presentation.ViewModels.Controller.Home.DashBoard
    @{
        ViewData["Title"] = "DashBoard";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <header>
        <nav class="navbar bg-success mb-3 fixed-top">
            <div class="d-inline-flex w-100">
                <a style="color:white" href="javascript:history.back()" class="nav-link"><i class="fa fa-chevron-left fa-2x" aria-hidden="true"></i></a>
                <div class="container-block justify-content-center">
                    <span class="nav-link justify-content-end" style="color:white;font-size:1.5em;">Dashboard</span>
                </div>
            </div>
        </nav>
    </header>
    <select class="form-control form-control-sm  mt-1" id="Property"  asp-items="@(new SelectList(Model.Properties, "Id", "PropertyName","Selected"))" style="width:100px;">
    </select>
<hr/>
 <div id="param">
     @{await Html.RenderPartialAsync("/Views/Home/DashboardRoomView.cshtml", Model.Locations);
     }
     </div>
<script>

    //on change of property load loctions;
    $(document).ready(function () {
        $('#Property').change(function () {

            enablespiner("Loading...")
            //retrieve locations
            $.get('/Home/Locations?Id='+$('#Property').val(), function (res) {
                $('#param').html(res);
                disablespinner();
            })

            
        });
    });
   
</script>