@model Presentation.ViewModels.PropertyOperation
@{
    ViewData["Title"] = "Add Property";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}

<div class="table_container">
    <div class="workordertitle">
        Add Property
    </div>
    @if (Model != null)
    {
        <form asp-action="AddProperty" asp-controller="Property" id="addprop">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <div class="col">
                                <div class="row ">
                                    <div class="col-md-3">
                                        <label for="PropertyTypeId">Property Type</label>
                                    </div>
                                    <div class="col">
                                        @if (Model.PropertyTypes != null)
                                        {
                                            <select class="form-control form-control-sm custom-input" asp-for="PropertyTypeId" asp-items="@(new SelectList(Model.PropertyTypes, "Id", "PropertyName"))">
                                                <option value="">Select Property</option>
                                            </select>
                                        }
                                        <span asp-validation-for="PropertyTypeId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row top-buffer ">
                                    <div class="col-md-3">
                                        <label for="PropertyName">Property Name </label>
                                    </div>
                                    <div class="col">
                                        <input asp-for="PropertyName" class="form-control-sm custom-input">
                                        <span asp-validation-for="PropertyName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="col">

                                <div class="row">
                                    <div class="col-md-3">
                                        <label asp-for="StreetAddress1"></label>
                                    </div>
                                    <div class="col">
                                        <input asp-for="StreetAddress1" class="form-control-sm custom-input">
                                        <span asp-validation-for="StreetAddress1" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row top-buffer">
                                    <div class="col-md-3">
                                        <label asp-for="StreetAddress2"></label>
                                    </div>
                                    <div class="col">
                                        <input asp-for="StreetAddress2" class="form-control-sm custom-input">
                                        <span asp-validation-for="StreetAddress2" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="col">

                                <div class="row top-buffer">
                                    <div class="col-md-3">
                                        <label asp-for="City"> </label>
                                    </div>
                                    <div class="col">
                                        <input asp-for="City" class="form-control-sm custom-input">
                                        <span asp-validation-for="City" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row top-buffer">
                                    <div class="col-md-3">
                                        <label asp-for="ZipCode"></label>
                                    </div>
                                    <div class="col">
                                        <input asp-for="ZipCode" class="form-control-sm custom-input">
                                        <span asp-validation-for="ZipCode" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row top-buffer">
                                    <div class="col-md-3">
                                        <label asp-for="State"> </label>
                                    </div>
                                    <div class="col">
                                        <input asp-for="State" class="form-control-sm custom-input">
                                        <span asp-validation-for="State" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row top-buffer">
                                    <div class="col-md-3">
                                        <label asp-for="Country"> </label>
                                    </div>
                                    <div class="col">
                                        <input asp-for="Country" class="form-control-sm custom-input">
                                        <span asp-validation-for="Country" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr />
            <button type="submit" class="btn btn-sm btn-outline-primary submit"><span>Add Property</span>&nbsp;</button>
            <input type="reset" class="btn btn-sm btn-danger" value="Reset" name="reset">
        </form>
    }
    <div>
        <a href="javascript:history.back()">Back</a>
    </div>
</div>