@model Presentation.ViewModels.PasswordChange
@inject IDeviceResolver device
@{
    ViewData["Title"] = "Token Verification For PasswordChange";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>TokenVerificationForPasswordChange</h1>

<h4>PasswordChange</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ResetPassword" asp-controller="Login" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Token" class="control-label"></label>
                <input asp-for="Token" class="form-control" />
                <span asp-validation-for="Token" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReEnterPassword" class="control-label"></label>
                <input asp-for="ReEnterPassword" class="form-control" />
                <span asp-validation-for="ReEnterPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="javascript:history.back()">Back</a>
</div>

@if (TempData.ContainsKey("Error") || TempData.ContainsKey("Success"))
{
    var key = TempData.ContainsKey("Error") ? "Error" : TempData.ContainsKey("Success") ? "Success" : "info";

<script>
        alertify.alert('@key', '<p>@TempData[key]</p>', function () { });
</script>
}